@import "tailwindcss";

@font-face {
  font-family: "Playwrite";
  src: url("/fonts/playwrite/PlaywriteNZBasic-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  --background: #493b49;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Playwrite", Arial, Helvetica, sans-serif;
  --font-mono: monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7def7;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  user-select: none;
}
